.about {
	padding-top: 15px;
	padding-bottom: 15px;
    margin: 1.25rem 0 1.1875rem;
    line-height: 1.7;
    font-size: 120%;
}

.emphasis{
	font-weight: bold;
	font-size: 120%;
}

.colourbar{
	height: 15px;
}
.red{
	background: #d35a51;
}

.yellow{
	background: #e5cf58;
}

.blue{
	background: #445662;
}

.grey{
	background: #3f3b3c;
}

.lightblue{
	background: #7bb6a4;
}


.residents{
	background: #ececec;
	padding-top: 20px;
	padding-bottom: 20px;
}

.management{
	padding-top: 20px;
}

.title{
	text-align: center;
	text-transform: uppercase;
	font-size: 150%;
	padding-bottom: 20px;
}

li.benefit{
	padding: 15px 0px 15px 0px;
	line-height: 1.7;
}

.imagecol{
	text-align: center;
}

.roomcast{
	color: #445662;
	font-weight: bold;
}

.footer{
	width: 100%;
	background: #ececec;
	color: #333333;
	padding-top: 15px;
	margin-top: 20px;
	position: absolute;
	bottom: 0;
	height: 50px;
}

.address{
	padding-top: 10px;
}

.b49logo{
	background-image: url("../assets/img/block49logo.png");
	background-repeat: no-repeat;
	background-position: left top;
	height: 40px;
}

.blogcontainer{
	margin-bottom: 20px;
}

.pagination{
	text-align: center;
}

.page_number{
	font-size: 90%;
	color: #333333;
}

.previous{
	font-size: 120%;
}

.next{
	font-size: 120%;
}
