<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/app.css" />
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/cv.css" />
    <script src="{{site.baseurl}}/bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
 	<div class="contain-to-grid sticky">
  		<nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
  			<section class="top-bar-section">  			
				<ul class="right">
					<li><a href="#">HOME</a></li>
					<li class="divider"></li>
					<li><a href="#">BLOG</a></li>
					<li class="divider"></li>
					<li><a href="#">DEMO</a></li>
					<li class="divider"></li>
					<li><a href="#">FOR RESIDENTS</a></li>
					<li class="divider"></li>
					<li><a href="#">FOR MANAGEMENT</a></li>
				</ul>
			</section>
		</nav>
	</div>
    {{content}}
    <script src="{{site.baseurl}}/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{site.baseurl}}/bower_components/foundation/js/foundation.min.js"></script>
    <script src="{{site.baseurl}}/js/app.js"></script>
  </body>
</html>
