<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/app.css" />
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/cv.css" />
    <script src="{{site.baseurl}}/bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
 	<div class="contain-to-grid sticky">
  		<nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
  		  <ul class="title-area">
           <li class="name">
              <h1> <a href="#"> ROOMCAST </a></h1>
            </li>
        </ul>

      	<section class="top-bar-section">
				<ul class="right">
					<li><a href="/roomcast">home</a></li>
					<li class="divider"></li>
					<li><a href="./blog">blog</a></li>
					<li class="divider"></li>
					<li><a href="/roomcast/assets/pdf/roomcastinfo.pdf">pdf</a></li>
				</ul>
			</section>
		</nav>
	</div>

  {{content}}


  <div class="footer">
    <div class="row">
      <div class="large-2 columns">
        <div class="b49logo"></div>
      </div>
      <div class="large-8 columns">
          <p class="text-right address">Block49 Suite 2 De Walden Court, 85 New Cavendish Street, W1W6AD</p>
      </div>
    </div>
  </div>

  <script src="{{site.baseurl}}/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="{{site.baseurl}}/bower_components/foundation/js/foundation.min.js"></script>
  <script src="{{site.baseurl}}/js/app.js"></script>
  </body>
</html>
