---
layout: default
---
<section id="blog">
  <article>
      <div class="row">
        <div class="large-10 columns">
          <h3> {{page.title}} </h3>
          <h6> Written by <a href="#">tlodge</a> on a date </h6>
        </div>
      </div>
      <div class="row">
        <div class="large-5 columns">
          <p> {{content}} </p>
        </div>
        <div class="large-5 columns">
          <img src="http://placehold.it/400x240&text=[img]"/>
        </div>
      </div>
  </article>
</section>
